# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
*.sqlite3
*.log

# Virtual environment
venv/

# OS files
.DS_Store
Thumbs.db

# Docker
*.dockerignore
Dockerfile

# IDE / editor
.vscode/
.idea/

# Data and Results
results/